<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="mystyles.css"/>
    <link rel="stylesheet" type="text/css" href="normalize.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="images">
      <img src="NASP.png">
    </div>
    <h1>National Archery in the Schools Program Unofficial Scorecard</h1>
    </div>
    <div class="tenMeters">
      <fieldset>
        <legend align="top"> 10 Meters </legend>
          <fieldset>
            <legend align="top"> End One </legend>
              <form name="arrow1EndOne" id="arrow1e110m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_one_e1" checked="checked"><label for="rdo_0">0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_one_e1"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_one_e1"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_one_e1"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_one_e1"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_one_e1"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_one_e1"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_one_e1"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_one_e1"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_one_e1"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_one_e1"><label>10</label>

              </form>

              <form name="arrow2EndOne" id="arrow2e110m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_two_e1" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_two_e1"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_two_e1"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_two_e1"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_two_e1"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_two_e1"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_two_e1"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_two_e1"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_two_e1"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_two_e1"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_two_e1"><label>10</label>

              </form>

              <form name="arrow3EndOne" id="arrow3e110m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_three_e1" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_three_e1"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_three_e1"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_three_e1"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_three_e1"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_three_e1"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_three_e1"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_three_e1"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_three_e1"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_three_e1"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_three_e1"><label>10</label>

              </form>

              <form name="arrow4EndOne" id="arrow4e110m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_four_e1" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_four_e1"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_four_e1"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_four_e1"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_four_e1"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_four_e1"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_four_e1"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_four_e1"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_four_e1"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_four_e1"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_four_e1"><label>10</label>

              </form>
              <form name="arrow5EndOne" id="arrow5e110m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_five_e1" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_five_e1"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_five_e1"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_five_e1"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_five_e1"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_five_e1"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_five_e1"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_five_e1"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_five_e1"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_five_e1"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_five_e1"><label>10</label>

              </form>
              <p id="endOne"> Score:0 </p>
            </fieldset>
            <fieldset>
              <legend align="top"> End 2 </legend>
                <form name="arrow1EndTwo" id="arrow1e210m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_one_e2" checked="checked"><label for="rdo_0">0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_one_e2"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_one_e2"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_one_e2"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_one_e2"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_one_e2"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_one_e2"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_one_e2"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_one_e2"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_one_e2"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_one_e2"><label>10</label>

                </form>
                <form name="arrow2EndTwo" id="arrow2e210m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_two_e2" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_two_e2"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_two_e2"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_two_e2"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_two_e2"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_two_e2"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_two_e2"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_two_e2"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_two_e2"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_two_e2"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_two_e2"><label>10</label>

                </form>
                <form name="arrow3EndTwo" id="arrow3e210m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_three_e2" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_three_e2"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_three_e2"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_three_e2"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_three_e2"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_three_e2"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_three_e2"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_three_e2"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_three_e2"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_three_e2"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_three_e2"><label>10</label>

                </form>
                <form name="arrow4EndTwo" id="arrow4e210m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_four_e2" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_four_e2"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_four_e2"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_four_e2"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_four_e2"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_four_e2"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_four_e2"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_four_e2"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_four_e2"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_four_e2"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_four_e2"><label>10</label>

                </form>
                <form name="arrow5EndTwo" id="arrow5e210m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_five_e2" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_five_e2"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_five_e2"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_five_e2"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_five_e2"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_five_e2"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_five_e2"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_five_e2"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_five_e2"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_five_e2"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_five_e2"><label>10</label>

                </form>
                <p id="endTwo"> Score:0 </p>
            </fieldset>
            <fieldset>
              <legend align="top"> End 3 </legend>
                <form name="arrow1EndThree" id="arrow1e310m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_one_e3" checked="checked"><label for="rdo_0">0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_one_e3"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_one_e3"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_one_e3"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_one_e3"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_one_e3"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_one_e3"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_one_e3"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_one_e3"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_one_e3"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_one_e3"><label>10</label>

                </form>
                <form name="arrow2EndThree" id="arrow2e310m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_two_e3" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_two_e3"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_two_e3"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_two_e3"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_two_e3"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_two_e3"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_two_e3"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_two_e3"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_two_e3"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_two_e3"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_two_e3"><label>10</label>

                </form>
                <form name="arrow3EndThree" id="arrow3e310m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_three_e3" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_three_e3"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_three_e3"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_three_e3"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_three_e3"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_three_e3"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_three_e3"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_three_e3"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_three_e3"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_three_e3"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_three_e3"><label>10</label>

                </form>
                <form name="arrow4EndThree" id="arrow4e310m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_four_e3" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_four_e3"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_four_e3"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_four_e3"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_four_e3"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_four_e3"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_four_e3"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_four_e3"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_four_e3"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_four_e3"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_four_e3"><label>10</label>

                </form>
                <form name="arrow5EndThree" id="arrow5e310m">
                    <input type="radio" value="0" class="radioBtnClass" name="arrow_five_e3" checked="checked"><label>0</label>

                    <input type="radio" value="1" class="radioBtnClass" name="arrow_five_e3"><label>1</label>

                    <input type="radio" value="2" class="radioBtnClass" name="arrow_five_e3"><label>2</label>

                    <input type="radio" value="3" class="radioBtnClass" name="arrow_five_e3"><label>3</label>

                    <input type="radio" value="4" class="radioBtnClass" name="arrow_five_e3"><label>4</label>

                    <input type="radio" value="5" class="radioBtnClass" name="arrow_five_e3"><label>5</label>

                    <input type="radio" value="6" class="radioBtnClass" name="arrow_five_e3"><label>6</label>

                    <input type="radio" value="7" class="radioBtnClass" name="arrow_five_e3"><label>7</label>

                    <input type="radio" value="8" class="radioBtnClass" name="arrow_five_e3"><label>8</label>

                    <input type="radio" value="9" class="radioBtnClass" name="arrow_five_e3"><label>9</label>

                    <input type="radio" value="10" class="radioBtnClass" name="arrow_five_e3"><label>10</label>

                </form>
                <p id="endThree"> Score:0 </p>
            </fieldset>
          </fieldset>
        </div>
        <div class="fifteenMeters">
          <fieldset>
            <legend align="top"> 15 Meters </legend>
          <fieldset>
            <legend align="top"> End 4 </legend>
              <form name="arrow1EndFour" id="arrow1e415m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_one_e4" checked="checked"><label for="rdo_0">0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_one_e4"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_one_e4"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_one_e4"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_one_e4"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_one_e4"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_one_e4"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_one_e4"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_one_e4"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_one_e4"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_one_e4"><label>10</label>

              </form>
              <form name="arrow2EndFour" id="arrow2e415m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_two_e4" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_two_e4"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_two_e4"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_two_e4"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_two_e4"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_two_e4"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_two_e4"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_two_e4"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_two_e4"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_two_e4"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_two_e4"><label>10</label>

              </form>
              <form name="arrow3EndFour" id="arrow3e415m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_three_e4" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_three_e4"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_three_e4"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_three_e4"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_three_e4"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_three_e4"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_three_e4"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_three_e4"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_three_e4"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_three_e4"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_three_e4"><label>10</label>

              </form>
              <form name="arrow4EndFour" id="arrow4e415m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_four_e4" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_four_e4"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_four_e4"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_four_e4"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_four_e4"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_four_e4"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_four_e4"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_four_e4"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_four_e4"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_four_e4"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_four_e4"><label>10</label>

              </form>
              <form name="arrow5EndFour" id="arrow5e415m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_five_e4" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_five_e4"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_five_e4"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_five_e4"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_five_e4"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_five_e4"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_five_e4"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_five_e4"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_five_e4"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_five_e4"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_five_e4"><label>10</label>

              </form>
          </fieldset>
              <p id="endFour"> Score:0 </p>
          <fieldset>
            <legend align="top"> End 5 </legend>
              <form name="arrow1EndFive" id="arrow1e515m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_one_e5" checked="checked"><label for="rdo_0">0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_one_e5"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_one_e5"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_one_e5"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_one_e5"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_one_e5"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_one_e5"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_one_e5"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_one_e5"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_one_e5"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_one_e5"><label>10</label>

              </form>
              <form name="arrow2EndFive" id="arrow2e515m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_two_e5" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_two_e5"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_two_e5"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_two_e5"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_two_e5"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_two_e5"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_two_e5"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_two_e5"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_two_e5"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_two_e5"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_two_e5"><label>10</label>

              </form>
              <form name="arrow3EndFive" id="arrow3e515m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_three_e5" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_three_e5"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_three_e5"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_three_e5"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_three_e5"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_three_e5"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_three_e5"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_three_e5"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_three_e5"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_three_e5"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_three_e5"><label>10</label>

              </form>
              <form name="arrow4EndFive" id="arrow4e515m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_four_e5" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_four_e5"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_four_e5"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_four_e5"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_four_e5"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_four_e5"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_four_e5"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_four_e5"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_four_e5"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_four_e5"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_four_e5"><label>10</label>

              </form>
              <form name="arrow5EndFive" id="arrow5e515m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_five_e5" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_five_e5"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_five_e5"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_five_e5"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_five_e5"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_five_e5"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_five_e5"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_five_e5"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_five_e5"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_five_e5"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_five_e5"><label>10</label>

              </form>
          </fieldset>
            <p id="endFive"> Score:0 </p>
          <fieldset>
            <legend align="top"> End 6 </legend>
              <form name="arrow1EndSix" id="arrow1e615m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_one_e6" checked="checked"><label for="rdo_0">0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_one_e6"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_one_e6"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_one_e6"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_one_e6"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_one_e6"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_one_e6"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_one_e6"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_one_e6"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_one_e6"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_one_e6"><label>10</label>

              </form>
              <form name="arrow2EndSix" id="arrow2e615m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_two_e6" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_two_e6"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_two_e6"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_two_e6"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_two_e6"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_two_e6"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_two_e6"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_two_e6"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_two_e6"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_two_e6"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_two_e6"><label>10</label>

              </form>
              <form name="arrow3EndSix" id="arrow3e615m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_three_e6" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_three_e6"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_three_e6"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_three_e6"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_three_e6"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_three_e6"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_three_e6"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_three_e6"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_three_e6"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_three_e6"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_three_e6"><label>10</label>

              </form>
              <form name="arrow4EndSix" id="arrow4e615m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_four_e6" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_four_e6"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_four_e6"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_four_e6"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_four_e6"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_four_e6"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_four_e6"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_four_e6"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_four_e6"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_four_e6"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_four_e6"><label>10</label>

              </form>
              <form name="arrow5EndSix" id="arrow5e615m">
                  <input type="radio" value="0" class="radioBtnClass" name="arrow_five_e6" checked="checked"><label>0</label>

                  <input type="radio" value="1" class="radioBtnClass" name="arrow_five_e6"><label>1</label>

                  <input type="radio" value="2" class="radioBtnClass" name="arrow_five_e6"><label>2</label>

                  <input type="radio" value="3" class="radioBtnClass" name="arrow_five_e6"><label>3</label>

                  <input type="radio" value="4" class="radioBtnClass" name="arrow_five_e6"><label>4</label>

                  <input type="radio" value="5" class="radioBtnClass" name="arrow_five_e6"><label>5</label>

                  <input type="radio" value="6" class="radioBtnClass" name="arrow_five_e6"><label>6</label>

                  <input type="radio" value="7" class="radioBtnClass" name="arrow_five_e6"><label>7</label>

                  <input type="radio" value="8" class="radioBtnClass" name="arrow_five_e6"><label>8</label>

                  <input type="radio" value="9" class="radioBtnClass" name="arrow_five_e6"><label>9</label>

                  <input type="radio" value="10" class="radioBtnClass" name="arrow_five_e6"><label>10</label>

              </form>
          </fieldset>
          <p id="endSix"> Score:0 </p>
        </fieldset>
      </div>
      <p id="total"> Total Score:0 </p>
    <script type="text/javascript" src="radios.js"></script>
    <script type="text/javascript" src="print_func.js"></script>
    <script type="text/javascript" src="score_verifier.js"></script>
    <script type="text/javascript" src="dbchecker.js"></script>
  </body>
<footer>
  <div class="archerInput">
    <form>
      <button type="button" onclick="print_func()" id="print_button">Print Score</button>
      <input type="text" name="Archer" placeholder="Archer's Name" id="archer_name">
      <input type="submit" value="Submit" id="submit_button">
    </form>
    <h2 class="text-center">Top Scores</h2>
    <ul class="archer_and_score list-group row">
  <% for(var i=0; i<archer_and_score.length; i++) {%>
    <li class="archer_and_score list-group-item col-xs-6 text-left">  <!---  Using EJS to display the database information    --->
      <span><%= archer_and_score[i].name %>: </span>
      <span><%= archer_and_score[i].score %></span>
    </li>
  <% } %>
  </ul>
</footer>

</html>
